<!--
  Generated template for the AdmissionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home_header">

    <ion-navbar style="background-color:btn">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Admission</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="refreshDoc($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-grid>
    <ion-card class="cardContainer" *ngFor="let admissionData of admission">
      <ion-row>
        <ion-col class="leftTxt" col-5>
          Course Name :
        </ion-col>
        <ion-col class="rightTxt" col-7>
          {{admissionData.CourseName}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="leftTxt" col-5>
          Status :
        </ion-col>
        <ion-col class="rightTxt" col-7>
          {{ 'Next installment of Rs.'+ admissionData.Fees+' due on '}}{{admissionData.InstallmentDate | date: 'EEE, MMMM d, y'}}
        </ion-col>
      </ion-row>
    </ion-card>



  </ion-grid> -->

  <ion-card class="cardContainer" *ngFor="let admissionData of admission" (click)="rowClick(admissionData)" >
    <ion-item-group>
      <ion-item-divider style="color: #003b8e"> 

        {{admissionData.CourseName}}
        <ion-icon name="ios-arrow-forward" *ngIf="admissionData.Fees == 0" item-end></ion-icon>
      </ion-item-divider>

      <ion-item style="border-bottom: 0.4px solid #f2f2f2" *ngIf="admissionData.Fees >0"  text-nowrap>

          <p *ngIf="admissionData.StatusID == 6" text-wrap style="font-size: 16px;color: red;margin-top: 5px" >Admission is cancelled on {{admissionData.InstallmentDate | date: 'MMMM d, y'}}</p>
        <p *ngIf="admissionData.StatusID != 6" text-wrap style="font-size: 16px;color: #1a2532;margin-top: 5px">{{ 'Next installment of Rs.'+ admissionData.Fees+' due on '}}{{admissionData.InstallmentDate | date: 'MMMM d, y'}}</p>
        <!-- <p text-wrap style="margin-top: 5px">{{'Tests : '+performanceDataDetails.ExamCount+' . Percentage : '+performanceDataDetails.Percentage+'%'}}</p> -->
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>


    </ion-item-group>
  </ion-card>
  <ion-card *ngIf="nodata">
    <ion-item>
        No admission found.
    </ion-item>
  </ion-card>
</ion-content>