page-feedback {
    .fab ion-icon{
        font-size: 3.4rem;
    }
    .blueBg {
        background-color: #003b8e
    }
    .greenBg {
        background-color: #4d9900
    }
    .detailRow {
        font-weight: 400;
        font-size: 16px;
    }

    .statusClass {
    .label-md{
        margin: 0
    }
}

.subdetailRow{
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding-top: 10px;
    padding-bottom: 0 !important;
    border-bottom: none !important
}
}
