<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home_header">

  <ion-navbar style="background-color:btn">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>



<ion-content no-padding> 
  <ion-refresher (ionRefresh)="refreshFeedback($event)"> 
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- <ion-card class="cardContainer" *ngFor="let feedbackData of feedback">
       
    
        <ion-item-divider style="color: #003b8e">

          {{feedbackData[0].IssueDate ? (feedbackData[0].IssueDate | date: 'EEE, MMMM d, y') : "NA"}} 

        </ion-item-divider> -->
  <ion-card *ngFor="let feedbackDetail of feedbackData">
        <ion-item-group>
        
            <ion-item-divider style="color: #003b8e">

                {{feedbackDetail.IssueTitle}} 
      
            </ion-item-divider>


        <!-- <hr style="color: #dedede;height: 2px"> -->

        
        <ion-item style="align-items: center" class="statusClass">
            <!-- <ion-label class="subLbl">{{feedbackDetail.IssueStatus}}</ion-label> -->
            <p style="font-weight: bold;font-size: 17px">Status</p>
            <button item-end ion-button [ngClass]="(feedbackDetail.IssueStatus).toLowerCase() == 'open' ?'blueBg' :'greenBg'">{{feedbackDetail.IssueStatus}} </button>
        </ion-item>

        <hr style="color: #dedede;height: 2px">

        <!-- <ion-item style="font-weight: bold;font-size: 17px">Asignee</ion-item>
        <ion-item style="align-items: left" class="statusClass">
            <ion-label class="subLbl">{{(feedbackDetail.IssueOpenerFather == 0)?feedbackDetail.FatherFName+" "+feedbackDetail.FatherLName:""}} {{(feedbackDetail.IssueOpenerGuard == 0)?feedbackDetail.OthrGuardianFName+" "+feedbackDetail.OthrGuardianLName:""}} {{(feedbackDetail.IssueOpenerMother == 0)?feedbackDetail.MotherFName+" "+feedbackDetail.MotherLName:""}} {{(feedbackDetail.IssueOpenerStudent == 0)?feedbackDetail.StudentFName+" "+feedbackDetail.StudentLName:""}}</ion-label>        
        </ion-item> -->

        <ion-item style="align-items: center" class="statusClass">
                <p style="font-weight: bold;font-size: 17px">Asignee</p>
                <!-- <ion-label item-end class="subLbl">{{(feedbackDetail.IssueOpenerFather == 0)?feedbackDetail.FatherFName+" "+feedbackDetail.FatherLName:""}} {{(feedbackDetail.IssueOpenerGuard == 0)?feedbackDetail.OthrGuardianFName+" "+feedbackDetail.OthrGuardianLName:""}} {{(feedbackDetail.IssueOpenerMother == 0)?feedbackDetail.MotherFName+" "+feedbackDetail.MotherLName:""}} {{(feedbackDetail.IssueOpenerStudent == 0)?feedbackDetail.StudentFName+" "+feedbackDetail.StudentLName:""}}</ion-label>         -->
                <button style="color: #000;font-size:1.4rem"  item-end clear ion-button>{{(feedbackDetail.IssueOpenerFather == 0)?feedbackDetail.FatherFName+" "+feedbackDetail.FatherLName:""}} {{(feedbackDetail.IssueOpenerGuard == 0)?feedbackDetail.OthrGuardianFName+" "+feedbackDetail.OthrGuardianLName:""}} {{(feedbackDetail.IssueOpenerMother == 0)?feedbackDetail.MotherFName+" "+feedbackDetail.MotherLName:""}} {{(feedbackDetail.IssueOpenerStudent == 0)?feedbackDetail.StudentFName+" "+feedbackDetail.StudentLName:""}}</button>
        </ion-item>


        <hr style="color: #dedede;height: 2px">

        <ion-grid>
          <ion-row class="detailRow">
              <ion-col class="colBorder" col-6>
                {{'# '+feedbackDetail.IssueID}}
              </ion-col>
              <ion-col col-6>
                {{feedbackDetail.IssueCategory}}
                <!-- <p text-wrap style="font-size: 16px;color: #1a2532;margin-top: 5px" [ngClass]="(feedbackDetail.IssueCategory == 'Complaint')?'openTxt':(feedbackDetail.IssueCategory == 'Feedback')?'feedback': (feedbackDetail.IssueCategory == 'Compliment') ?'compliment':'closeTxt'" >{{feedbackDetail.IssueCategory}} <span style="color: #1a2532">{{ ' - '+feedbackDetail.IssueTitle || "NA"}} </span> </p> -->
              </ion-col>
          </ion-row>


          <!-- <ion-row class="detailRow">
              <ion-col class="colBorder" col-6>
                  Asignee
              </ion-col>
              <ion-col col-6>
                  {{(feedbackDetail.IssueOpenerFather == 0)?feedbackDetail.FatherFName+" "+feedbackDetail.FatherLName:""}} {{(feedbackDetail.IssueOpenerGuard == 0)?feedbackDetail.OthrGuardianFName+" "+feedbackDetail.OthrGuardianLName:""}} {{(feedbackDetail.IssueOpenerMother == 0)?feedbackDetail.MotherFName+" "+feedbackDetail.MotherLName:""}} {{(feedbackDetail.IssueOpenerStudent == 0)?feedbackDetail.StudentFName+" "+feedbackDetail.StudentLName:""}}
              </ion-col>
          </ion-row> -->



          <ion-row class="detailRow">
              <ion-col class="colBorder" col-6>
                  Created On
              </ion-col>
              <ion-col col-6>
                  Updated On
              </ion-col>
          </ion-row>
          <ion-row class="subdetailRow">
              <ion-col class="colBorder" col-6>
                  {{feedbackDetail.IssueDate ? (feedbackDetail.IssueDate | date: 'MMMM d, y') : "N/A"}} 
              </ion-col> 
              <ion-col col-6>
                  {{feedbackDetail.LastModified ? (feedbackDetail.LastModified | date: 'MMMM d, y') : "N/A"}} 
              </ion-col>
          </ion-row>



          <!-- <ion-row class="subdetailRow">
              <ion-col [ngClass]="performanceDetailData.MarksScored != null ? 'colBorder colActiveSubTxtColor':'colBorder colSubTxtColor'"  col-6>
                  {{ (performanceDetailData.MarksScored != null)?'Marks':'Marks' }}
              </ion-col> 
              <ion-col col-6>
                  Maximum
              </ion-col>
          </ion-row> -->

      </ion-grid>

    </ion-item-group>
  </ion-card>
<!-- </ion-card> -->


  <!-- <ion-card class="cardContainer" *ngFor="let feedbackData of feedback">
      <ion-item-group>
        <ion-item-divider style="color: #003b8e">
  
            {{feedbackData[0].IssueDate ? (feedbackData[0].IssueDate | date: 'EEE, MMMM d, y') : "NA"}} 
  
        </ion-item-divider> 
  
        <ion-item *ngFor="let feedbackDetail of feedbackData" style="border-bottom: 0.4px solid #f2f2f2"  text-nowrap>
         
          <p text-wrap style="font-size: 15px;color: #1a2532;margin-top: 5px"> {{'# '+feedbackDetail.IssueID}}</p>

          <p text-wrap style="font-size: 16px;color: #1a2532;margin-top: 5px" [ngClass]="(feedbackDetail.IssueCategory == 'Complaint')?'openTxt':(feedbackDetail.IssueCategory == 'Feedback')?'feedback': (feedbackDetail.IssueCategory == 'Compliment') ?'compliment':'closeTxt'" >{{feedbackDetail.IssueCategory}} <span style="color: #1a2532">{{ ' - '+feedbackDetail.IssueTitle || "NA"}} </span> </p>
          <p text-wrap style="font-size: 15px;color: #1a2532;margin-top: 5px"> {{(feedbackDetail.IssueOpenerFather == 0)?feedbackDetail.FatherFName+" "+feedbackDetail.FatherLName:""}} {{(feedbackDetail.IssueOpenerGuard == 0)?feedbackDetail.OthrGuardianFName+" "+feedbackDetail.OthrGuardianLName:""}} {{(feedbackDetail.IssueOpenerMother == 0)?feedbackDetail.MotherFName+" "+feedbackDetail.MotherLName:""}} {{(feedbackDetail.IssueOpenerStudent == 0)?feedbackDetail.StudentFName+" "+feedbackDetail.StudentLName:""}}</p>
          <p text-wrap style="margin-top: 5px"> {{feedbackDetail.IssueStatus+' - Updated on : '+((feedbackDetail.LastModified | date: 'EEE, MMMM d, y') ||'NA')}}</p>
        </ion-item>
      
      </ion-item-group>
    </ion-card> -->


  <ion-card *ngIf="nodata">
      <ion-item>
            No feedback found.
      </ion-item>
    </ion-card>

  <ion-fab bottom right #fab>
      <button ion-fab (click)="openFeedbackForm()" ><ion-icon name="ios-add-outline"></ion-icon></button>
  </ion-fab>
   
</ion-content>