<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home_header">

  <ion-navbar style="background-color:btn">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-item-group *ngFor="let profile of profileData">


    <ion-item style="border-bottom: 0.4px solid #f2f2f2" text-nowrap>
      <ion-avatar item-left>
        <img [src]="studentImage">
      </ion-avatar>
      <p text-wrap style="font-size: 19px;color: #1a2532;margin-top: 5px">{{profile.StudentFName+" "+profile.StudentMName+" "+profile.StudentLName}}</p>
      <p text-wrap style="margin-top: 5px">{{profile.StudentGender == 1 ?'Male' :'Female'}}</p>

    </ion-item>



    <ion-item>
      <ion-icon name="md-calendar" item-start></ion-icon>
      {{(profile.StudentDOB | date : 'EEE, MMMM d, y') || 'NA'}}
    </ion-item>
    <ion-item>
      <ion-icon name="md-call" item-start></ion-icon>
      {{profile.StudentMobileNo || 'NA'}}
    </ion-item>
    <ion-item>
      <ion-icon name="md-mail" item-start></ion-icon>
      {{profile.StudentEmail || 'NA'}}
    </ion-item>
    <ion-item>
      <ion-icon name="ios-school" item-start></ion-icon>
      {{profile.StudentSchool || 'NA'}}
    </ion-item>

    <ion-item>
      <ion-icon name="ios-home" item-start></ion-icon>
      {{profile.StudentAddress || 'NA'}}
    </ion-item>
    <!-- <ion-item>
      <ion-icon name="logo-linkedin" item-start></ion-icon>
      {{profile.StudentLinkedIn || 'NA'}}
    </ion-item>

    <ion-item>
      <ion-icon name="logo-googleplus" item-start></ion-icon>
      {{profile.StudentGooglePlus || 'NA'}}
    </ion-item> -->



  </ion-item-group>

  <!-- <ion-card class="cardContainer" *ngFor="let profile of profileData">
  <ion-item-group >
    <ion-item-divider style="color: #003b8e">
      Other Details
    </ion-item-divider>
    <ion-item style="border-bottom: 0.4px solid #f2f2f2" (click)="rowClick(performanceDataDetails)" text-nowrap>
      <ion-row>
          <ion-col class="profileLeftTxt" col-5>
              School/College :
          </ion-col>
          <ion-col class="rightTxt" col-7>
              {{profile.StudentSchool || '-'}}
          </ion-col>
  
          <ion-col class="profileLeftTxt" col-5>
              Address :
          </ion-col>
          <ion-col class="rightTxt" style="white-space: initial" col-7>
                {{profile.StudentAddress || '-'}}  
          </ion-col>

          </ion-row>
    
    </ion-item> 
  </ion-item-group>
</ion-card> -->

  <ion-card class="cardContainer" *ngFor="let profile of profileData">
    <ion-item-group *ngFor="let profile of profileData">
      <ion-item-divider style="color: #003b8e">
        Father Details
      </ion-item-divider>
      <ion-item style="border-bottom: 0.4px solid #f2f2f2" (click)="rowClick(performanceDataDetails)" text-nowrap>

        <ion-row>
          <ion-col class="profileLeftTxt" col-5>
            Name :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.FatherFName}} {{profile.FatherMName}} {{profile.FatherLName}}
          </ion-col>

          <ion-col class="profileLeftTxt" col-5>
            Contact No. :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.FatherMobileNo || '-'}}
          </ion-col>


          <ion-col class="profileLeftTxt" col-5>
            Email :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.FatherEmail || '-'}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-card>

  <ion-card class="cardContainer" *ngFor="let profile of profileData">
    <ion-item-group *ngFor="let profile of profileData">
      <ion-item-divider style="color: #003b8e">
        Mother Details
      </ion-item-divider>
      <ion-item style="border-bottom: 0.4px solid #f2f2f2" (click)="rowClick(performanceDataDetails)" text-nowrap>

        <ion-row>
          <ion-col class="profileLeftTxt" col-5>
            Name :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.MotherFName}} {{profile.MotherMName}} {{profile.MotherLName}}
          </ion-col>

          <ion-col class="profileLeftTxt" col-5>
            Contact No. :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.MotherMobileNo || '-'}}
          </ion-col>


          <ion-col class="profileLeftTxt" col-5>
            Email :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.MotherEmail || '-'}}
          </ion-col>

        </ion-row>


      </ion-item>
    </ion-item-group>
  </ion-card>

  <ion-card class="cardContainer" *ngFor="let profile of profileData">
    <ion-item-group *ngFor="let profile of profileData">
      <ion-item-divider style="color: #003b8e">
        Other Gaurdian Details
      </ion-item-divider>
      <ion-item style="border-bottom: 0.4px solid #f2f2f2" (click)="rowClick(performanceDataDetails)" text-nowrap>

        <ion-row>
          <ion-col class="profileLeftTxt" col-5>
            Name :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.OthrGuardianFName}} {{profile.OthrGuardianMName}} {{profile.OthrGuardianLName}}
          </ion-col>

          <ion-col class="profileLeftTxt" col-5>
            Contact No. :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.OthrGuardianMobileNo || '-'}}
          </ion-col>

          <ion-col class="profileLeftTxt" col-5>
            Email :
          </ion-col>
          <ion-col class="rightTxt" col-7>
            {{profile.OthrGuardianEmail || '-'}}
          </ion-col>

        </ion-row>
      </ion-item>
    </ion-item-group>
  </ion-card>

</ion-content>