<!--
  Generated template for the AttendancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home_header">

  <ion-navbar style="background-color:btn">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Attendance</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
    <ion-refresher (ionRefresh)="refresh($event)"> 
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-card class="cardContainer" *ngFor="let attendanceData of attendance">
    <ion-item-group>
      <ion-item-divider style="color: #003b8e">

        {{attendanceData[0].StandardName}}

      </ion-item-divider>

      <ion-item *ngFor="let attendanceDataDataDetails of attendanceData" style="border-bottom: 0.4px solid #f2f2f2" (click)="attendancerowClick(attendanceDataDataDetails)" text-nowrap>
        <p text-wrap style="font-size: 16px;color: #1a2532;margin-top: 5px">{{attendanceDataDataDetails.SubjectName}}</p>
        <!-- <p text-wrap style="margin-top: 5px">{{((attendanceDataDataDetails.TotalPresent == 0)?((attendanceDataDataDetails.TotalAbsent == 0)?"":(+'Absent : '+attendanceDataDataDetails.TotalAbsent)):(+'Present : '+attendanceDataDataDetails.TotalPresent)) +(attendanceDataDataDetails.TotalPresent !=  0 ?((attendanceDataDataDetails.TotalAbsent == 0)?"":(+' . Absent : '+attendanceDataDataDetails.TotalAbsent)):"")}}</p> -->

        <p text-wrap style="margin-top: 5px">{{'Total : '+attendanceDataDataDetails.Total+' . Present : '+(attendanceDataDataDetails.TotalPresent == 0 ?'0':attendanceDataDataDetails.TotalPresent)+' . Absent : '+(attendanceDataDataDetails.TotalAbsent == 0 ?'0'+' . Avg : '+attendanceDataDataDetails.Perc+'%':attendanceDataDataDetails.TotalAbsent +' . Avg : '+attendanceDataDataDetails.Perc+'%')}}</p>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon> 
    </ion-item>


    </ion-item-group>
  </ion-card>

  <ion-card *ngIf="nodata">
    <ion-item>
     No attendance found.
    </ion-item>
  </ion-card>


</ion-content>