<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="home_header">

    <ion-navbar style="background-color:btn">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Change Password</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row center style="margin-top: 30px">
      <ion-col col-12>

        <ion-list>
          <form [formGroup]="changePasswordForm" class="formContainer">
            
            <ion-item>
              <ion-label floating>Current Password</ion-label>
              <ion-input type="password" formControlName="currentP"></ion-input>
            </ion-item>
            <p class="errorClass" *ngIf="!changePasswordForm.controls.currentP.valid  && (changePasswordForm.controls.currentP.dirty || submitAttempt)">* Please enter current password</p>
            
            <ion-item>
              <ion-label floating>New Password</ion-label>
              <ion-input type="password" formControlName="newP"></ion-input>
            </ion-item>
            <p class="errorClass" *ngIf="!changePasswordForm.controls.newP.valid  && (changePasswordForm.controls.newP.dirty || submitAttempt)">* Please enter new password</p>

            
            <ion-item> 
              <ion-label floating>Confirm New Password</ion-label>
              <ion-input type="password" formControlName="cnewP"></ion-input>
            </ion-item>
            <p class="errorClass" *ngIf="!changePasswordForm.controls.cnewP.valid  && (changePasswordForm.controls.cnewP.dirty || submitAttempt)">* Please enter new password again</p>
            <p class="errorClass" *ngIf="match">* Password doesn't match</p>
          
          </form>
          <!-- <ion-item> -->
            <!-- <button (click)="login()"  ion-button color="danger" outline block>Log In</button> -->
            <button ion-button (click)="changePassword()" style="margin-top: 20px" block color="btn">Change Password</button>

          <!-- </ion-item> -->

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>