<ion-menu [content]="content" id="menu1">

        <ion-content style="background-color: #1a2532">
      
      
          <ion-row style="justify-content: center">
            <img class="userImg" [src]="studentImage" >
          </ion-row>
          <h4 style="text-align: center;color: #fff;margin-left: 10px;margin-right: 10px;">{{studentName}}</h4>
          <!-- <h5 style="margin-left: 10px;margin-right: 10px;text-align: center;font-weight: 400;font-size: 16px;color: #fff;margin-top: 5px">sushant.indulkar@wwindia.com</h5> -->
          <hr style="margin-top: 20px;background-color:#233143;" /> 
          <ion-list>
            <!--<ion-item *ngFor="let item of items">-->
            <button menuClose ion-button icon-left full clear style="border-bottom: 1px solid #233143" *ngFor="let item of items" (click)="sliderClick($event,item)">
              <ion-icon name="{{item.icon}}" class="sliderIcon"></ion-icon>
              <ion-label class="sliderLbl" text-capitalize>{{item.name}}</ion-label>
              <hr/>
            </button>
          </ion-list>
        </ion-content>
      
      </ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
