<!--
  Generated template for the ScheduleDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Schedule Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-card>
    <ion-item-divider style="color: #000;font-size: 20px !important">
      {{StandardName}}
    </ion-item-divider>
  </ion-card>
  <ion-card class="cardContainer">

    <ion-item-group>
      <ion-item-divider style="color: #003b8e;font-size: 18px">

        {{LectureDate | date: 'EEE, MMMM d, y'}}
        
      </ion-item-divider>

      
      <ion-item style="font-size: 17px" *ngIf="stringIsNumber(FacultyName)" >Test
          
          <ion-icon name="md-clipboard" style="color: #c62828" item-start></ion-icon>
      </ion-item>

      <hr style="color: #dedede;height: 2px" *ngIf="stringIsNumber(FacultyName)">
      
      <ion-grid>
        <ion-row class="detailRow">
          <ion-col class="colBorder" col-6>
            <!-- {{(performanceDetailData.MarksScored || performanceDetailData.MarksScored  ) || 'Absent'}} -->
            {{ LectureTimeStart }}
          </ion-col>
          <ion-col col-6>
            {{LectureTimeEnd}}
          </ion-col>
        </ion-row>
        <ion-row class="subdetailRow">
          <ion-col class="colBorder" col-6>
            Start Time
          </ion-col>
          <ion-col col-6>
            End Time
          </ion-col>
        </ion-row>

      </ion-grid>


      <hr style="color: #dedede;height: 2px">

      <ion-item style="font-size: 17px">Subject
          <ion-icon name="ios-book" style="color:#FF9F3A" item-start></ion-icon>
      </ion-item>
      <ion-item style="align-items: left">
        <ion-label class="subLbl">{{SubjectName || '-'}}</ion-label>
      </ion-item>

      <hr style="color: #dedede;height: 2px">

      <ion-item style="font-size: 17px">Topics
          <ion-icon name="md-list" style="color: #78B254" item-start></ion-icon>
      </ion-item>
      <ion-item style="align-items: left">
        <ion-label class="subLbl">{{TopicName || '-'}}</ion-label>
      </ion-item>

      <hr style="color: #dedede;height: 2px" *ngIf="!stringIsNumber(FacultyName)">

      <ion-item style="font-size: 17px" *ngIf="!stringIsNumber(FacultyName)" >Faculty
          <ion-icon name="md-person" style="color: #7E249C" item-start></ion-icon>
      </ion-item>
      <ion-item style="align-items: left" *ngIf="!stringIsNumber(FacultyName)">
        <ion-label class="subLbl">{{FacultyName || '-'}}</ion-label>
      </ion-item>

        

    </ion-item-group>
  </ion-card>


</ion-content>