page-admission-detail {
    .detailRow{
        align-items: flex-end;
        text-align: center;
        height: auto;
        font-weight: bold;
        font-size: 16px;
        color: color($colors,'themeColor');
       // padding-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 0 !important;
        border-bottom: 0.5px solid #dedede 
    }
    .subdetailRow{
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: #666;
        padding-top: 10px;
        padding-bottom: 0 !important;
        //padding-top: 10px;
       // padding-bottom: 12px;
        border-bottom: none !important
    }
    .colBorder {
        border-right: 0.5px solid #dedede 
    }

    .subLbl{
        margin: 0px;
    }
}
